/* .home-container {
    display: grid;
    grid-template-rows: 80vh 20vh;
    height: 100vh;
  }
  
  .homebg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  } */


  /* body, html {
    height: 100%;
  }
  .container {
    position: relative;
    background-image: url("https://s3.ap-south-1.amazonaws.com/s3.studytonight.com/tutorials/uploads/pictures/1627476216-101156.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 50%;
    border: 2px solid blue;
  }
  button{
  position: absolute;
  padding: 10px;
  background-color: rgba(0 , 0,0,0.3);
  border-radius: 16px;
  bottom: 5%;
  left: 40%;
  width: 80px;
}
h2 {
   text-align: center;
   background-color: rgba(256 , 256,256,0.5);
   font-size: 30px;
}
button:hover {
    background-color: blue;
    color: white;
} */


/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top:75%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d2d0dd;
    color: rgb(53, 10, 153);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
  }
  
  .container .btn:hover {
    background-color: black;
  }