
.container {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  body, html {
    height: 100%;
  }
  .bg {
    
    background-image: url("https://scontent.ftrv4-1.fna.fbcdn.net/v/t39.30808-6/420606996_866022735530068_3560297492666861847_n.png?stp=dst-png_s960x960&_nc_cat=103&ccb=1-7&_nc_sid=783fdb&_nc_ohc=wdk92hoSmMAAX_W4V7a&_nc_ht=scontent.ftrv4-1.fna&oh=00_AfBFESr4qrldR5iz4LSJ8wfR7XQKwks9TD3vnMDULT3pAA&oe=65B934F8");
    height: 95vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top:80%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d2d0dd;
    color: rgb(53, 10, 153);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
  }
  
  

  /* LOGO CSS */

 .logo img{
    height: 50px;
    display:block;
    width: 50px;

  }

  